@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-800;
    @apply text-white;
    @apply h-screen;
  }

  body {
    @apply h-screen;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
  background-image: none !important;
}